{% extends 'index/index.html' %}

{% block 'header_block' %}
{% endblock 'header_block' %} 

{% block 'body_block' %} 
    <p>
        <a href={% url 'crear_cerrajero'%}>Crear Cerrajero</a>
    </p>

    <form action="" method='get'>
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        {% comment %} <input type="submit" value="Crear"> {% endcomment %}
        <button>Buscar</button>
    </form>

    {% for cerrajero in cerrajeros  %}
        <li>
            <a href={% url 'detalle_cerrajero' cerrajero.id%}>{{cerrajero}}</a> |
            <a href={% url 'editar_cerrajero' cerrajero.id%}>Editar</a> |
            <a href={% url 'borrar_cerrajero' cerrajero.id%}>Borrar</a>

        </li>
    {% endfor %}

{% endblock 'body_block' %}