{% extends 'index/index.html' %}

{% block 'header_text_block'%}
        <h1 class="mb-5">
            Información sobre nosotros.
        </h1>
{% endblock 'header_text_block'%} 
        
{% block 'body_block' %} 
    <h2>
    {{nombre1}}    
    </h2>

    {% for valor in lista1 %}
        <li>
            {{valor}}
        </li>
    {% endfor %}

    <h2>
        {{nombre2}}    
    </h2>

    {% for valor in lista2 %}
        <li>
            {{valor}}
        </li>
    {% endfor %}
    
 {% endblock 'body_block' %}